<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Todolist</title>
</head>
<body>
    <div id="app">
        <div class="logo">
            <img src="img/logo.png" alt="">
        </div>

        <div class="area-input">
            <input v-model="newTaskText" placeholder="Aggiungi una task">
            <button @click="newTasks">Aggiungi</button>
            <div>
                <span class="error-msg">{{errorMsg}}</span>
            </div>
        </div>

        <div class="container">
            <h3 v-if="tasks.length === 0 ">Non ci sono più tasks</h3>

            <ul class="list-tasks">
                <li
                @click="task.done = !task.done" 
                v-for="task in tasks" 
                >
                    <span :class="{done : task.done}">{{task.text}}</span>
                    <i 
                    @click.stop="taskRemove(index , task)"
                    class="fa-solid fa-xmark"
                    >
                    </i>
                </li>
            </ul>
        </div>

    </div>


    <script src="js/script.js"></script>
</body>
</html>